.jumbotron {
    background-image: url(https://images4.alphacoders.com/270/thumb-1920-27094.jpg);
    background-position: 0% 100%;
    background-size:auto;
    color: white;
}

ol {
        column-count: 2;
        column-width:50%;
}

li {
  margin-right: 3%;
  font-weight:bold;
}
